<table  class="table">
  <caption >Song List: <%= @order.id %> 
   | Status: <%= @order.status %>
  </caption>
  <thread>
    <tr>
      <th>Listen Item ID</th>
      <th>Music ID</th>
      <th>Music Name</th>
     
      <th>Operation</th>
    </tr>
  </thread>
  <tbody id="show_items">
    <% if @order.status == "UnAdded" %>
       <%= render @order.items %>
    <% else %>
      <% @order.items.each do |item| %>
        <tr class="active">
        <td> <%= link_to "#{item.id}", item %> </td>
        <td> <%= item.product_id %> </td>
        <td> <%= item.product_name %> </td>
       
        <% if item.commentable == true %>
          <td> <%= link_to "comment on this music", item, class: "btn btn-default btn-sm" %> </td>
        <% else %>
          <td> <%= link_to "see music detail", item, class: "btn btn-default btn-sm" %> </td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table> 

<div>
	<% if @order.status == 'UnAdded' %>
		<% if @order.items.count > 0 %>
  			<div>
  				<span> 
              <%= link_to "Add to my music", new_payment_path, class: "btn btn-primary btn-sm" %>
          </span>
  			  <span>
  				    <%= link_to "Continue lisenning", root_url, class: "btn btn-primary btn-sm"%>
  			   </span>
        </div>
  		<% else %>
  			<div>
  				<%= link_to "Continue lisenning", root_url, class: "btn btn-primary btn-sm" %>
  			</div>
  		<% end %>
	<% end %>
</div>
