<p>Song List Id: <%= @item.order_id %> </p>
<p>Music Item Id: <%= @item.id %>
<p>Music name: <%= link_to "#{@product.title}", @product %></p>
<p>Music Id: <%= @product.id %> </p>
<p>Listen: <%= button_to "Enjoy this song", @product.music_url, class: "btn btn-primary btn-sm" %> </p>
</br>
<% if @item.commentable == true and (current_order.nil? or current_order.id != @item.order_id) %>
 	<%= form_for(@comment) do |f| %>
  		<p class="hidden">
			<%= f.label :product_id, @product.id %>
			<%= f.radio_button :product_id, @product.id %>
  		</p>
  		<p class="hidden">
  			<%= f.label :buyer_id, current_buyer.id %>
  			<%= f.radio_button :buyer_id, current_buyer.id %>
  		</p>
  		<p class="hidden">
  			<%= f.label :item_id, @item.id %>
  			<%= f.radio_button :item_id, @item.id %>
  		</p>
		<%= f.label :score, 5 %>
		<%= f.radio_button :score, 5 %>
		<%= f.label :score, 4 %>
		<%= f.radio_button :score, 4 %>
		<%= f.label :score, 3 %>
		<%= f.radio_button :score, 3 %>
		<%= f.label :score, 2 %>
		<%= f.radio_button :score, 2 %>
		<%= f.label :score, 1 %>
		<%= f.radio_button :score, 1 %>
 	</br>
		<%= f.submit "Comment on this song", class: "btn btn-primary btn-sm" %>
   <% end %>
<% end %>